{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Portofolio | Asep J</title>
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <a href="#">
          <img src="{% static 'img/logoporto.png' %}" />
        </a>
      </div>
      <ul class="nav-links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Features</a></li>
        <li class="link"><a href="#">Portofolio</a></li>
        <li class="link"><a href="#">About</a></li>
      </ul>
      <button class="btn">Hire Me</button>
    </nav>

    <header class="container">
      <div class="content">
        <span class="blur"></span>
        <span class="blur"></span>
        <h4>FINAL PROJECT NETDEV</h4>
        <h1>
          Hi, I'm <span>Asep Jamaludin</span><br />Adaptive Network Laboratory
        </h1>
        <p>
          Passionate about contributing to leading network research and
          development, and hone skills and knowledge in core networking areas
          together with experts, became my main motivation. Determined to
          realizing a smarter network future, the spirit of abstinence gave up
          on advancing the Adaptive Network Laboratory.
        </p>
        <button class="btn">Get Started</button>
      </div>
      <div class="image">
        <img src="{% static 'img/myfoto.png' %}" />
      </div>
    </header>

    <section class="container">
      <h2 class="header">OUR FEATURES</h2>
      <div class="features">
        <div class="card">
          <span><i class="ri-group-3-fill"></i></span>
          <h4>Help a Friend</h4>
          <p>
            Helping friends is an invaluable joy. Seeing their smiles when we
            help, is like a special gift that warms the heart. Providing help,
            no matter how small, can foster a sense of empathy and strengthen
            friendships.
          </p>
          <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>

        <div class="card">
          <span><i class="ri-presentation-fill"></i></span>
          <h4>Sharing Session</h4>
          <p>
            Sharing sessions are a forum for sharing ideas, experiences and
            knowledge between individuals. In this session, participants can
            learn from each other and get inspiration from each other
          </p>
          <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>

        <div class="card">
          <span><i class="ri-shake-hands-line"></i></span>
          <h4>Cooperation</h4>
          <p>
            Cooperation is a very important value in life. By working together,
            we can achieve many things that are beneficial to ourselves, others
            and the community. Let us always uphold the spirit of cooperation in
            various aspects of life.
          </p>
          <a href="#">Join Now <i class="ri-arrow-right-line"></i></a>
        </div>
      </div>
    </section>

    <section class="container">
      <h2 class="header">My Portofolio</h2>
      <div class="foto">
        <div class="card">
          <img src="{% static 'img/Sertifikat_Asep Jamaludin.jpg' %}" />
          <div class="card-content">
            <h2 class="card-title">Ultramen UI/UX</h2>
            <p class="card-text">
              Yesterday's opportunity to take part in the UI/IX webinar that was
              held HMTT is a valuable experience. Together with fellow friends
              members, I got a lot of new knowledge and insight from the members
              speaker. Interactive discussions further strengthen understanding
              material, especially discussion regarding the latest UI/IX trends
              very relevant.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="{% static 'img/Asep Jamaludin - Sertifikat Smartpath.PNG' %}"
          />
          <div class="card-content">
            <h2 class="card-title">Winning Scholarship</h2>
            <p class="card-text">
              Webinar "Scholarship Tips and Tricks" held by Smarthpath
              Yesterday's international really opened my eyes various
              scholarship opportunities available. Expert speakers and
              experienced in providing very useful information, starting from
              how to find a suitable scholarship, writing a letter interesting
              applications, and tips for facing scholarship interviews.
            </p>
          </div>
        </div>
        <div class="card">
          <img src="{% static 'img/Asep Jamaludin_Netchool.jpg' %}" />
          <div class="card-content">
            <h2 class="card-title">NetSchool</h2>
            <p class="card-text">
              The excitement of Netsschool Adaptive Network Laboratory
              Yesterday's Netsschool Adaptive Network Laboratory was really
              exciting! Interesting and easy to understand material by expert
              speakers in the field of networking and the internet. The
              practical session on building your own computer network was very
              fun and helped understand networking concepts.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="container">
      <span class="blur"></span>
      <span class="blur"></span>
      <div class="column">
        <div class="logo">
          <img src="{% static 'img/logoporto.png' %}" />
        </div>
        <p>
          I want to dive deeper into the world of technology, exploring
          different fields and their developments to understand the future and
          contribute creatively.
        </p>
        <div class="socials">
          <a href="https://youtube.com/@asepjamaludin1936?si=ImW5YsIZrnDge0gh""><i class="ri-youtube-line"></i></a>
          <a href="https://instagram.com/_jmldnnn"><i class="ri-instagram-line"></i></a>
          <a href="https://github.com/asepjamaludinn?tab=repositories"><i class="ri-github-line"></i>
        </div>
      
      
      </div>
      <div class="column">
        <h4>Company</h4>
        <a href="#">Businnes</a>
        <a href="#">Partnership</a>
        <a href="#">Network</a>
      </div>

      <div class="column">
        <h4>About Us</h4>
        <a href="#">Blogs</a>
        <a href="#">Channels</a>
        <a href="#">Sponsors</a>
      </div>

      <div class="column">
        <h4>Contact</h4>
        <a href="#">Contact Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
      </div>
    </footer>

    <div class="copyright">
      copyright ©2024 Asep Jamaludin. All Rights Reserved.
    </div>
  </body>
</html>
